{# https://www.addtoany.com/ #}

<div class="share">
  <div class="a2a_kit a2a_default_style share social-media">
    <a class="a2a_button_facebook">
      {{ source(directory ~ '/static/images/social-media/facebook.svg') }}
    </a>
    <a class="a2a_button_linkedin">
      {{ source(directory ~ '/static/images/social-media/linkedin.svg') }}
    </a>
    <a class="a2a_button_twitter">
      {{ source(directory ~ '/static/images/social-media/twitter.svg') }}
    </a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
</div>


